<a [routerLink]="['/details/1']">
  <div class="flex justify-between items-center">
    <section class="flex items-center gap-2">
      <img
        loading="lazy"
        src="{{ user.avatar }}"
        class="rounded-full"
        width="40"
        height="40"
      />
      <p class="font-medium text-sky-500">
        {{ user.first_name }} {{ user.last_name }}
      </p>
    </section>
    <p class="font-medium">
      {{ user.id }}
    </p>
  </div>
  <hr class="border-b-2 mt-2 border-white" />
</a>
